<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="FtpAccount" value="AUTOUPDATE"/>
    <add key="FtpPassword" value="123456"/>
    <add key="FtpAddress" value="127.0.0.1"/>
    <add key="UpdateProcess" value=""/>
    <add key="UpdateProcessPath" value=""/>
    <add key="IsStartAfterUpdate" value=""/>
    <add key="Passive" value=""/>
    <add key="UpdateFile" value="Debug_UpdateVersion.xml"/>
  </appSettings>
</configuration>
